.main-section-banner {
  background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img21/Audio/MegaMusicFest/July21/Musicfest_Gw_1500x600._CB645098031_.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
